
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>home</title>
    <style>
        .c1 {
            
            text-align: center;

        }


    </style>
</head>
<body>
    <div class="c1">
        <h2>Home</h2>
        <h3>@Html.ActionLink("Member Entry", "Index")</h3>
        <h3>Order for Food</h3>
        <h3>View Report</h3>

    </div>
</body>
</html>
